* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
}

.rectangle-white {
  width: 620px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #F5F5F5;
  border-radius: 10px;
  height: 620px;
}

.main-header {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 35.6px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;

  color: #2B283A;
  padding-top: 50px;
 

}

.main-desc{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18.1072px;
line-height: 26px;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
max-width: 300px;
margin-left: auto;
margin-right: auto;
color: #4A4E74;
margin-bottom: 40px;
}

.main-5-squres{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 10px;
max-width:400px;
 margin-left: auto;
 margin-right: auto;
}

.main-squre{
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  margin: 0;
}

.main-squre-held{
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color:#59E391;
  margin: 0;
}


.main-number{
  font-size: 2rem;
}

.main-btn-roll{
background: #5035FF;
box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
border-radius: 3.81277px;
width: 100px;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
padding-top:10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
cursor: pointer;

}

.main-btn-roll > h2{
font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 18.384px;
line-height: 19px;
align-items: center;
text-align: center;
margin: 0px;
color: #FFFFFF
}


.main-btn-roll:focus {
  outline: none;
}

.main-btn-roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}